/* ===================================================
==============   do not copy this code   =============
====================================================== */

body {
    color: #cfd2da;
    background-color: #000;
}

.colors{
    padding: 50px;
}
.text{
    color: #cfd2da;    
}
.text-hover{
    color: #ffffff;
}
.text-medium-dark{
    color: #999;
}
.text-dark{
    color: #51586a;
}
.green{
    color: #1BC98E;
}
.red{
    color: #E64759;
}
.purple{
    color: #9F86FF;
}
.yellow{
    color: #E4D836;
}
.blue{
    color: #1997c6;
}
.hr-line{
    border-bottom: 1px solid #434857;
}
/* ===================================================
=======================   end  =======================
====================================================== */


/* ===================================================
================== copy this code   ==================
====================================================== */

.dropdown-menu{
  
    padding: 0;
}




/* ===================================================
=======================  end  ========================
====================================================== */