/* ===================================================
==============   do not copy this code   =============
====================================================== */

body {
    color: #cfd2da;
    background-color: #000;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.colors{
    padding: 50px;
}
.text{
    color: #cfd2da;    
}
.text-hover, .text-white{
    color: #ffffff;
}
.text-medium-dark{
    color: #999;
}
.text-dark{
    color: #51586a;
}
.hr-line{
    border-bottom: 1px solid #1997c6;
    margin-bottom: 2rem;
    margin-top: 0px;
}
.f-1-2{
    font-size: 1.2rem;
}
.f-1-5{
    font-size: 1.5rem;
}
.f-2{
    font-size: 2rem;
}
.f-3{
    font-size: 3rem;
}
.f-4{
    font-size: 4rem;
}
.f-5{
    font-size: 5rem;
}
.f-6{
    font-size: 6rem;
}
/* green */
.green{
    color: #1BC98E;
}
.green-background{
    background-color: #1BC98E;
    border-color: #1BC98E;
}
.green-background:hover{
    background-color: #15a071;
    border-color: #128c63;
}
/* red */
.red{
    color: #E64759;
}
.red-background{
   background-color: #E64759;
   border-color: #E64759;
}
.red-background:hover{
    background-color: #b83847;
    border-color: #a1313e;
}
/* purple */
.purple{
    color: #9F86FF;
}
.purple-background{
    background-color: #9F86FF;
    border-color: #9F86FF;
}
.purple-background:hover{
    background-color: #7f6bcc;
    border-color: #6f5db2;
}
/* yellow */
.yellow{
    color: #E4D836;
}
.yellow-background{
    background-color: #E4D836;
    border-color: #E4D836;
}
.yellow-background:hover{
    background-color: #b6ac2b;
    border-color: #9f9725;
}
/* blue */
.blue{
    color: #1997c6;
}
.blue-background{
    background-color: #1997c6;
    border-color: #1997c6;
}
.blue-background:hover{
    background-color: #13779E;
    border-color: #11698a;
}

h2, h3{
    font-weight: 300;
    letter-spacing: 1px;
}

/* ===================================================
=======================   end  =======================
====================================================== */


/* ==================================================
================== copy this code====================
====================== bellow ======================= */

.dropdown-menu{
  
    padding: 0;
}

.fa-play, .fa-stop{
    font-size: 2.2rem;
}
.button-start{
    border-radius: .25rem;
    width: 100px;
    padding: 8px;
    text-align: center;
    background-color: #1AC98E;
    border: 1px solid #1AC98E;
}
.button-start:hover, .button-start:active{
    background-color: #15a071;
    border-color: #128c63;
}
.button-stop{
    border-radius: .25rem;
    width: 100px;
    padding: 8px;
    text-align: center;
    background-color: #E64759;
    border: 1px solid #E64759;
}
.button-stop:hover, .button-stop:active{
    background-color: #b83847;
    border-color: #A1303C;
}
.track-timer{
    /* font-size: 3rem; */

}
.time-started{

}

.textwithline {
    overflow: hidden;
    text-align: center;
}
.textwithline:before,
.textwithline:after {
    background-color: #434857;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.textwithline:before {
    right: 0.5em;
    margin-left: -50%;
}
.textwithline:after {
    left: 0.5em;
    margin-right: -50%;
}
/* ===================================================
=======================  end  ========================
====================================================== */